* {
    margin: 0;
}

body {
    display: flex;
    justify-content: start;
    gap: 100px;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    color: #000800;
    background-color: #F1F2F3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-sinbarWhite {
    color: #F1F2F3;
}

.color-sinbarBlack {
    color: #000800;
}

.color-sinbarRed {
    color: #FF0000;
}

.color-sinbarBlue {
    color: #1F75F9;
}

.color-sinbarLightBlue {
    color: #C9DAF4;
}

.color-sinbarGrey {
    color: #D9D9D9;
}

.color-sinbarBronze {
    color: #AD8A56;
}

.color-sinbarSilver {
    color: #B4B4B4;
}

.color-sinbarGold {
    color: #C9B037;
}

.color-sinbarDarkGrey {
    color: #898989;
}

.background-color-sinbarWhite {
    background-color: #F1F2F3;
}

.background-color-sinbarBlack {
    background-color: #000800;
}

.background-color-sinbarRed {
    background-color: #FF0000;
}

.background-color-sinbarBlue {
    background-color: #1F75F9;
}

.background-color-sinbarLightBlue {
    background-color: #C9DAF4;
}

.background-color-sinbarGrey {
    background-color: #D9D9D9;
}

.background-color-sinbarBronze {
    background-color: #AD8A56;
}

.background-color-sinbarSilver {
    background-color: #B4B4B4;
}

.background-color-sinbarGold {
    background-color: #C9B037;
}

.background-color-sinbarDarkGrey {
    background-color: #898989;
}

.title {
    font-size: 36px;
    font-weight: 800;

}

.regular-text {
    font-size: 16px;
    font-weight: 700;

}

.small-text {
    font-size: 13px;
    font-weight: 600;
}

.headline {
    font-size: 48px;
    font-weight: 800;

}

.large-text {
    font-size: 24px;
    font-weight: 700;

}

/* CSS untuk Component Navbar */

.header-strip {
    margin: 0;
    height: 30px;
    width: 100%;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 90%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.container-navbar-logo {
    width: 15%;
    display: flex;
    justify-content: start
}

.navbar-logo {
    display: flex;
    gap: 12px;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.navbar-logo img {
    height: 40px;
    max-width: 100%;
    object-fit: contain;
  }
  

.navbar-menus {
    display: flex;
    gap: 20px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.navbar-menus-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    min-width: 100px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.navbar-menus-menu:hover {
    background-color: #D9D9D9;
    border: 2px solid #F1F2F3;
}

.container-navbar-account {
    width: 15%;
    display: flex;
    justify-content: end
}

.navbar-account-logged {
    display: flex;
    gap: 10px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.navbar-account-logged-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    min-width: 100px;
    border-radius: 10px;
    border: 2px solid #1F75F9;
    transition: all 0.3s ease-in-out;
}

.navbar-account-logged-menu:hover {
    color: #1F75F9;
    background-color: #F1F2F3;
    border: 2px solid #1F75F9;
}

.navbar-account {
    display: flex;
    gap: 10px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.navbar-account-register {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    min-width: 100px;
    border-radius: 10px;
    border: 2px solid #1F75F9;
    transition: all 0.3s ease-in-out;
}

.navbar-account-register:hover {
    color: #F1F2F3;
    background-color: #1F75F9;
    border: 2px solid #1F75F9;
}

.navbar-account-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    min-width: 100px;
    border-radius: 10px;
    border: 2px solid #1F75F9;
    transition: all 0.3s ease-in-out;
}

.navbar-account-login:hover {
    color: #1F75F9;
    background-color: #F1F2F3;
    border: 2px solid #1F75F9;
}

.navbar-account-logged-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #FF0000;
    transition: all 0.3s ease-in-out;
}

.navbar-account-logged-logout:hover {
    color: #1F75F9;
    background-color: #FF0000;
    border: 2px solid #FF0000;

}

.navbar-account-logged-logout svg path {
    fill: #FF0000;
    transition: all 0.3s ease-in-out;
}

.navbar-account-logged-logout:hover svg path {
    fill: #F1F2F3;
}

/* CSS untuk Component Navbar */

/* CSS untuk Page Home */

.home-hero {
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
}

.home-hero-texts {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

.subheading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #C9DAF4;
    transition: all 0.3s ease-in-out;
}

.home-hero-image-home {
    width: 300px;
}

.home-peringkat {
    width: 50%;
    max-width: 1200px;
    height: 300px;
    border: solid;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.home-peringkat-title {
    text-align: center;
}

.home-peringkat-container-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: end;
    position: relative;
    height: 70%;
    align-items: center;
}

.home-peringkat-top-background {
    width: 100%;
    height: 70%;
    position: absolute;
    z-index: 1;
    border-radius: 25px;
}

.home-peringkat-top {
    height: 100%;
    position: absolute;
    z-index: 2;
    min-width: 80%;
    border: solid;
}

.home-peringkat-top-three {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.home-peringkat-top-three-number {
    width: 25%;
    height: 60%;
    border: solid;
}

.home-peringkat-top-three-number-1 {
    width: 25%;
    height: 100%;
    border: solid;
}
/* CSS untuk Page Home */